
@font-face { font-family: _myfont00; src: url('_Lucida_Sans_Unicode.ttf'); }
@font-face { font-family: _myfont01; src: url('_yugothic.ttf'); }
@font-face { font-family: _myfont02; src: url('_HanaMinA.ttf'); }
@font-face { font-family: _myfont03; src: url('_HanaMinB.ttf'); }

html {
  overflow: hidden;
  font-size: 100%;
}

html * {
  font-size: 1rem;
}

body {
  margin: 1rem 0 1rem 0;
  height: calc(100% - 2rem);
  -webkit-column-width: 100vw;
  -webkit-column-gap: 0;
  font-family: _myfont00, _myfont01, _myfont02, _myfont03, sans-serif, serif;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  line-height: 1.7rem;
  color: black;
  background-color: white;
}

#flash-container {
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  text-align: right;
  font-size: 0.8rem;
}
#flash-container-left {
  display: inline-block;
}
#flash-container-right {
  
}
#flash-container-numerator {
  display: inline;
}
#flash-container-numerator::after {
  margin: 0 0.3em 0 0.3em;
  content: "/";
}
#flash-container-denominator {
  display: inline;
}
#flash-container-text {
  display: inline;
}

#detached-00 {
  margin-left: 1rem;
  display: inline;
  font-size: 1.5rem;
  
}
#detached-01 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
}
#detached-02 {
  margin-top: 0.5rem;
}
#detached-02 table {
  margin-left: auto;
  margin-right: auto;
}
#detached-02 td {
  margin: 2rem 0 2rem 0;
  text-align: center;
  min-width: 20vw;
}
#detached-02 thead tr {
  background-color: #f0f0f0;
}
#detached-02 tbody td {
  border-bottom: 1px solid #eaeaea;
}
#detached-03 {
  margin: 0.5rem;
  text-align: center;
}
#detached-04,
#detached-05,
#detached-06,
#detached-07,
#detached-08 {
  padding-top: 0.5rem;
  border-top: 1px solid #e0e0e0;
}
#detached-04::before {
  content: "【ランダムハウス英語辞典】";
  margin-left: 1rem;
}
#detached-05::before {
  content: "【研究社 新英和中辞典】";
  margin-left: 1rem;
}
#detached-06::before {
  content: "【研究社 新英和大辞典】";
  margin-left: 1rem;
}
#detached-07::before {
  content: "【斎藤和英大辞典】";
  margin-left: 1rem;
}
#detached-08::before {
  content: "【ロングマン現代英英辞典】";
  margin-left: 1rem;
}

.ebquery {
  padding: 1rem;
  display: block;
  word-wrap: break-word;
}
.ebkw {
  font-weight: bold;
  background-color: #f0f0f0;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}
.ebsb {  vertical-align: sub;  }
.ebsp {  vertical-align: super;  }
.ebec {
  vertical-align: text-bottom;
  max-height: 100%;
}

.SRD .pos,
.KENE7J5 .pos {
 display: inline-block;
 background-color: #e0ffe0;
 margin-top: 1.5rem;
 padding-left: 0.2rem;
 padding-right: 0.2rem;
}
.SRD .sense1 {
 background-color: #ffe8e8;
 padding-left: 0.6rem;
 padding-right: 0.2rem;
}
.SRD .sense2 {
 background-color: #e8ffff;
 padding-left: 1.2rem;
 padding-right: 0.2rem;
}

.KENE7J5 .sense1 {
 background-color: #e8e8ff;
 padding-left: 1.2rem;
 padding-right: 0.2rem;
}
.KENE7J5 .sense2 {
 background-color: #ffe8e8;
 padding-left: 1.2rem;
 padding-right: 0.2rem;
}
.KENE7J5 .sense3 {
 background-color: #e8ffff;
 padding-left: 1.2rem;
 padding-right: 0.2rem;
}

.KQNEWEJ6 .ebul {
  font-weight: bold;
}
