
html {
  overflow: hidden;
  font-size: 2vmin;
}

html * {
  font-size: 1rem;
}

body {
  margin: 1rem 0 1rem 0;
  height: calc(100% - 2rem);
  font-family: sans-serif, serif;
  text-align: justify;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel–antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none;
  cursor: default;
  line-height: 1.4;
  color: black;
  background-color: white;
}

#container {
  height: 100%;
  -webkit-column-width: 100vw;
  -webkit-column-gap: 0;
}

#horizontal-bar {
  position: fixed;
  left: 0;
  bottom: 0.05rem;
  width: 100vw;
}
#horizontal-bar-icon1-A,
#horizontal-bar-icon1-B,
#horizontal-bar-icon1-C {
  visibility: hidden;
  position: absolute;
  right: 0.5rem;
  bottom: 0.15rem;
  width: 1rem;
  text-align: center;
  vertical-align: bottom;
  font-family: san-serif, selif;
  font-size: 0.5rem;
  line-height: 0.5;
  -webkit-filter: grayscale(100%) opacity(70%);
}
#horizontal-bar-progress-bar {
  position: absolute;
  left: 0.5rem;
  bottom: 0.35rem;
  width: calc(100vw - 2.5rem);
}
#horizontal-bar-progress-total {
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 0.05rem solid #f0f0f0;
}
#horizontal-bar-progress-current {
  position: absolute;
  top: 0;
  width: 0;
  border-bottom: 0.05rem solid #505050;
}
