
@font-face { font-family: _myfont00; src: url('_Lucida_Sans_Unicode.ttf'); }
@font-face { font-family: _myfont01; src: url('_yugothic.ttf'); }
@font-face { font-family: _myfont02; src: url('_HanaMinA.ttf'); }
@font-face { font-family: _myfont03; src: url('_HanaMinB.ttf'); }

html {
  overflow: hidden;
  font-size: 100%;
}

html * {
  font-size: 1rem;
}

body {
  margin: 1rem 0 1rem 0;
  height: calc(100% - 2rem);
  font-family: _myfont00, _myfont01, _myfont02, _myfont03, sans-serif, serif;
  text-align: left;
  -webkit-text-size-adjust: 100%;
  line-height: 1.4rem;
  color: black;
  background-color: white;
}

#detached {
  height: 100%;
  -webkit-column-width: 100vw;
  -webkit-column-gap: 0;
}

#flash-container {
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  padding: 0 0.5rem 0 0.5rem;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0,0,0,.3);
  text-align: right;
  font-size: 0.8rem;
}
#flash-container-page-state-left {
  display: inline-block;
}
#flash-container-page-state-right {

}
#flash-container-page-state-numerator {
  display: inline;
}
#flash-container-page-state-numerator::after {
  margin: 0 0.3em 0 0.3em;
  content: "/";
}
#flash-container-page-state-denominator {
  display: inline;
}
#flash-container-page-state-text {
  display: inline;
}

#detached-00 {
  display: inline;
  margin-left: 1rem;
  font-size: 1.3rem;
  line-height: 2rem;
}
#detached-01 {
  display: none;
}
#detached-02 {
  display: inline;
}
#detached-02 table {
  display: inline-box;
  float: right;
  margin-left: auto;
  margin-right: 1rem;
  padding-left: 0.2rem;
  max-width: 60vw;
}
#detached-02 table * {
  font-weight: normal;
  font-size: 0.8rem;
  line-height: 1.1rem;
}
#detached-02 td {
  margin: 2rem 0 2rem 0;
  text-align: center;
  min-width: 12vw;
}
#detached-02 thead tr {
  background-color: #f2f2f2;
}
#detached-02 tbody td {
  border-bottom: 1px solid #eaeaea;
}
#detached-03 {
  display: none;
}
#detached-04,
#detached-05,
#detached-06,
#detached-07,
#detached-08 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
#detached-04::before {
  display: inline-block;
  content: "【ランダムハウス英語辞典】";
}
#detached-05::before {
  display: inline-block;
  content: "【研究社 新英和中辞典】";
}
#detached-06::before {
  display: inline-block;
  content: "【研究社 新英和大辞典】";
}
#detached-07::before {
  display: inline-block;
  content: "【斎藤和英大辞典】";
}
#detached-08::before {
  display: inline-block;
  content: "【ロングマン現代英英辞典】";
}

#detached-04,
#detached-05,
#detached-06,
#detached-07,
#detached-08 {
  box-shadow: 0 -5rem 1rem -5rem #e6e6e6 inset;
}

.ebquery {
  padding: 0 1rem 0 1rem;
  display: block;
  word-wrap: break-word;
}
.ebkw {
  font-weight: bold;
  background-color: #f0f0f0;
}
.ebsb {  vertical-align: sub;  }
.ebsp {  vertical-align: super;  }
.ebec {
  vertical-align: text-bottom;
  height: 1.1rem;
  padding-bottom: 0.25rem;
}
.ebkw,
.pos,
.sense1,
.sense2,
.sense3,
.LDOCE5 .sup {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  line-height: 1.65rem;
}
.SRD      .sense1 {
 padding-left: 0.6rem;
}
.SRD      .sense2,
.BODY     .sense1,
.KENE7J5  .sense1,
.KENE7J5  .sense2,
.KENE7J5  .sense3,
.KQNEWEJ6 .sense1,
.KQNEWEJ6 .sense2,
.KQNEWEJ6 .sense3,
.LDOCE5   .sense1,
.LDOCE5   .sense2 {
 padding-left: 1.2rem;
}
.SRD      .pos,
.KENE7J5  .pos,
.KQNEWEJ6 .pos,
.BODY     .pos {
 background-color: #e0ffe0;
}
.LDOCE5   .sup {
 background-color: #ffead5;
}
.SRD      .sense1,
.KENE7J5  .sense2,
.KQNEWEJ6 .sense1,
.KQNEWEJ6 .sense3,
.BODY     .sense1,
.LDOCE5   .sense1 {
 background-color: #ffe8e8;
}
.SRD      .sense2,
.KENE7J5  .sense3,
.KQNEWEJ6 .sense2,
.LDOCE5   .sense2 {
 background-color: #e8ffff;
}

.KENE7J5  .sense1 {
 background-color: #e8e8ff;
}
.KQNEWEJ6 .ebul {
  font-weight: bold;
}
